<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ssdev="http://www.dubbo.com.cn/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd         
	http://www.dubbo.com.cn/schema/dubbo
	http://www.dubbo.com.cn/schema/dubbo/dubbo.xsd">

    <ssdev:applicationDomain name="dubbo"
                             registryAddress="zookeeper://127.0.0.1:2181"
                             rpcServerWorkUrl="hessian://localhost:8223/dubbo/rpc/"/>

    <ssdev:service ref="rpcCallService"/>
    <bean id="rpcCallService" class="com.zhuzz.test.RPCTest"/>
</beans>

	
	
